@model HobbySwipe.ViewModels.Discover.QuestionAnswerViewModel

<form id="questionForm" method="post" autocomplete="off">
    <input asp-for="Question.Id" hidden />
    <div class="row text-center">
        <h4>@Model.Question.QuestionText</h4>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6">
            @if (Model.Question.AnswerType == 1)
            {
                <div class="input-group input-group-static">
                    <input asp-for="Answer.Response" class="form-control" type="text">
                </div>
            }
            else
            {
                <select asp-for="Answer.Response" class="colorful-select dropdown-primary">
                    @foreach (var option in Model.Question.QuestionsOptions)
                    {
                        <option value="@option.OptionText">@option.OptionText</option>
                    }
                    }
                </select>
            }
        </div>
    </div>
</form>