@model HobbySwipe.ViewModels.Discover.QuestionAnswerViewModel

<form id="questionForm" method="post">
    <input asp-for="Question.Id" hidden />

    <h4>@Model.Question.QuestionText</h4>

    @if (Model.Question.AnswerType == 1)
    {
        <input asp-for="Answer.Response" class="form-control" />
    }
    else
    {
        <select asp-for="Answer.Response" class="colorful-select dropdown-primary">
            @foreach (var option in Model.Question.QuestionsOptions)
            {
                <option value="@option.OptionText">@option.OptionText</option>
            }
        </select>
    }
    @if (!Model.IsFirstQuestion)
    {
        <button id="goBackBtn" class="btn btn-secondary mt-2" type="button">Go Back</button>
        
    }
    <button class="btn btn-primary mt-2" type="submit">Next</button>
</form>