<!-- Preloader -->
<div class="preloader">
    <div class="prl-logo">
        <h1 class="hide">Calculating Results</h1>
    </div>
    <div class="lightCyan-slider"></div>
    <div class="persianGreen-slider"></div>
    <div class="white-slider"></div>
</div>