@model HobbySwipe.ViewModels.Discover.QuestionAnswerViewModel

<section class="vh-100 d-flex align-items-center">
    <div class="container text-center py-7 mx-10">
        <div id="qstn_ctnr">
            @{
                await Html.RenderPartialAsync("_Question.Partial", Model);
            }
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).on('submit', '#questionForm', function (e) {
            e.preventDefault();

            var answer = { "QuestionID": $('#Question_ID').val(), "Response": $('#Answer_Response').val() };

            $.ajax({
                url: '@Url.Action("Answer", "Discover")',
                method: 'POST',
                data: answer,
                success: function (data) {
                    if (data.success === false) {
                        alert('You have completed the questionnaire!');
                    } else {
                        $('#qstn_ctnr').html(data);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });
    </script>
}


