@model HobbySwipe.Models.ResultsRoot
 
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/discover-results.css">
}

@{
    ViewData["Title"] = "Results";
}

<section id="section_discover_results">
    <div class="results">
        <div class="results--status">
            <i class="fa-solid fa-thumbs-down fa-flip-horizontal"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-thumbs-up"></i>
        </div>

        <div class="results--cards">
            @foreach (var result in Model.Results)
            {
                <div class="results--card" data-hobby-id="@result.HobbyId">
                    <h3>@result.Hobby</h3>
                    <p>@result.Description</p>

                    <div class="results--buttons">
                        <button id="dislike" title="I don't like it"><i class="fa-solid fa-thumbs-down fa-flip-horizontal"></i></button>
                        <button id="favorite" title="Add to favorites"><i class="fa-solid fa-heart"></i></button>
                        <button id="like" title="I like it"><i class="fa-solid fa-thumbs-up"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

@section Scripts {
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script type="text/javascript" src="~/js/discover-results.js"></script>
}