@model HobbySwipe.ViewModels.Discover.ResultsViewModel

<div class="container">
    <ul>
        @foreach (var result in Model.Results)
        {
            <li>@result</li>
        }
    </ul>
</div>