/* Typography Settings */
.typed-cursor {
    color: var(--accent-color);
    margin-left: 5px;
}

/* Carousel Container Setting */
.glide__container {
    border: none;
}

.hero-header {
    line-height: 1;
}

/* Style for Step Marker */
.circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    max-height: 50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* How it works section */
.how-it-works.row {
    display: flex;
}

    .how-it-works.row .col-2 {
        display: inline-flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        position: relative;
    }

        /* "How it works" Connection Lines */
        .how-it-works.row .col-2::after {
            content: '';
            position: absolute;
            border-left: 3px solid var(--accent-color);
            z-index: 1;
        }

        .how-it-works.row .col-2.bottom::after {
            height: 50%;
            left: 50%;
            top: 50%;
        }

        .how-it-works.row .col-2.full-right::after {
            height: 100%;
            left: calc(50% - 3px);
        }

        .how-it-works.row .col-2.full-left::after {
            height: 100%;
            left: 50%;
        }

        .how-it-works.row .col-2.top-left::after {
            height: 50%;
            left: 50%;
            top: 0;
        }

        .how-it-works.row .col-2.top-right::after {
            height: 50%;
            left: calc(50% - 3px);
            top: 0;
        }

        .how-it-works h5 {
            color: var(--accent-color);
        }

/* Timeline Styles */
.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid var(--accent-color);
    margin: 0;
    top: 17px;
    position: relative;
    opacity: 1;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid var(--accent-color);
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

.timeline::before {
    display: none;
}

@media (min-width: 1140px) {
    #timeline_ctnr {
        max-width: 70%;
    }
}

/* About Section */
.about-info-horizontal {
    padding: 30px 0;
    text-align: center;
    max-width: 400px;
    text-align: left;
    margin-top: 0;
}

    .about-info-horizontal .about-icon {
        font-size: 2.6rem;
        float: left;
        margin-top: -10px;
        margin-right: 20px;
    }

    .about-info-horizontal .description {
        overflow: hidden;
    }

.iphone-container {
    max-width: 200px;
    margin: 0 auto;
}

.btn:hover {
    transform: scale(1.05);
}