/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #2c3e50;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #2c3e50;
}*/

/* -- SVG CSS -- */

/*.svg-separator {
    display: block;
    background: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
}

    .svg-separator.bottom {
        top: auto;
        bottom: 0;
    }

.sep1 {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}*/
