:root {
    --font-size: 0.8em;
    --primary-color: #b9c2ae;
    --secondary-color: #48b2e1;
    --background-color-1: #243743;
    --background-color-2: #243743;
    --accent-color: #121b21;
    --text-color: #dee7ef;
    --green: #2ecc71;
    --purple: #9b59b6;
    --gold: #f1c40f;
    --red: #e74c3c;
    --orange: #e67e22;
    --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
    --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}


/* Preloader Section */
.preloader {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.prl-logo {
    font-family: "Abril Fatface", cursive;
    font-size: 1.3rem;
    z-index: 2;
}

/* Sliders Section */
.lightCyan-slider,
.persianGreen-slider,
.white-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}

.lightCyan-slider {
    background: #d5f2ef;
}

.persianGreen-slider {
    background: #03a6a6;
}

.white-slider {
    background: #fff;
}

.hide {
    opacity: 0;
    color: #03a6a6;
    font-weight: lighter;
}

/* Responsive media queries */
@media screen and (max-width: 768px) {
    .logo,
    .prl-logo {
        font-size: 1rem;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 425px) {
    nav {
        padding: 1rem 3rem;
    }
}

/* General Styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    color: var(--text-color);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    margin-bottom: 60px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color-1);
    color: var(--text-color);
}

h1, h2, h3, h4, h5 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--primary-color);
}

h1 {
    font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
}

section.darker {
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

.container.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transparent {
    opacity: 0;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: inherit;
}

.mask.lighter-1 {
    opacity: .6;
}

.mask.lighter-2 {
    opacity: .4;
}

.mask.lighter-3 {
    opacity: .2;
}

/* Look and feel */
.btn-primary {
    color: var(--background-color-1);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}

    .btn-primary:hover {
        color: var(--background-color-1);
        background-color: var(--secondary-color);
        background-color: var(--secondary-color);
        box-shadow: none;
    }

    .btn-primary:active {
        color: var(--background-color-1);
        background-color: var(--secondary-color);
        background-color: var(--secondary-color);
    }

.btn-secondary {
    color: var(--background-color-1);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: none;
}

    .btn-secondary:hover {
        color: var(--background-color-1);
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        box-shadow: none;
    }

.btn-accent {
    color: var(--background-color-1);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

    .btn-accent:hover {
        color: var(--background-color-1);
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        box-shadow: none;
    }

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-color-1 {
    background-color: var(--background-color-1) !important;
}

.bg-color-2 {
    background-color: var(--background-color-2) !important;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}