@model HobbySwipe.ViewModels.Home.DiscoverViewModel

<section class="vh-100 d-flex align-items-center">
    <div class="container py-7 mx-10">
        <form role="form" id="contact-form" method="post" autocomplete="off">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-xl-5 d-none">
                    <h1>Hey there!</h1>
                    <h2>I'm going to ask you a few questions. Let's get it started</h2>
                </div>
                <div class="col-xl-5">
                    <h2>How old are you?</h2>
                    <div class="input-group input-group-dynamic mb-4">
                        <input asp-for="AgeGroup" class="form-control" aria-label="First Name..." type="text">
                    </div>
                </div>
                <div class="col-12 d-none">
                    <h2>How old are you?</h2>
                    <div class="input-group input-group-dynamic mb-4">
                        <input asp-for="AgeGroup" class="form-control" aria-label="First Name..." type="text">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center text-center">
                <div class="col-xl-5">
                    <button class="btn btn-lg btn-secondary-outline">&lt; Back</button>
                    <button class="btn btn-lg btn-secondary">Next &lt;</button>
                </div>
            </div>
        </form>
    </div>
</section>


@section Scripts {
    <script>
        $(document).ready(function () {
            var formState = [];
            var currentState = 0;

            $('#InterestAreaDiv').hide();
            $('#BudgetDiv').hide();
            $('#SkillLevelDiv').hide();
            $('#SpecificPreferencesDiv').hide();
            $('#PhysicalFitnessDiv').hide();

            $('#AgeGroup').change(function () {
                if ($(this).val() == 'Adult') {
                    $('#InterestAreaDiv').show();
                } else {
                    $('#InterestAreaDiv').hide();
                }

                // Store the current state of the form
                formState[currentState] = $(this).val();
                currentState++;

                // Enable the back button if there is more than one state
                if (currentState > 0) {
                    $('#backButton').removeAttr('disabled');
                }
            });

            // Repeat for other fields with corresponding logic

            $('#backButton').click(function () {
                if (currentState > 0) {
                    currentState--;

                    // Restore the previous state
                    $('#AgeGroup').val(formState[currentState]);

                    // Hide the current div and show the previous div based on your logic

                    // Disable the back button if there are no more states to go back to
                    if (currentState == 0) {
                        $('#backButton').attr('disabled', 'disabled');
                    }
                }
            });
        });
    </script>
}
