@section Styles {
    <link rel="stylesheet" href="~/lib/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
}

@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero -->
@section Header {
    <div id="hero_carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/guitar.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/landscape.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/photography.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/surfing.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/vinyl.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/waves.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header vh-100 parallax" style="background-image: url('../img/hero-bg/landscape.jpg');" loading="lazy">
                    <span class="mask opacity-8 bg-gradient-dark"></span>
                </div>
            </div>

            <div class="container center">
                <div class="row py-3">
                    <div class="col-lg-8">
                        <h1 class="text-white hero-header">Fuel curiosity,<br />uncover talents,<br />ignite your <span id="typed"></span></h1>
                        <div id="typed-strings" class="d-none">
                            <h1>passion</h1>
                            <h1>imagination</h1>
                            <h1>creativity</h1>
                            <h1>inspiration</h1>
                            <h1>adventure</h1>
                            <h1>motivation</h1>
                            <h1>enthusiasm</h1>
                            <h1>innovation</h1>
                            <h1>self-discovery</h1>
                            <h1>growth</h1>
                        </div>
                        <p class="lead text-white hero-text opacity-9 mt-3" style="visibility:hidden;">In just a few easy steps you can unlock a world of new hobbies curated just for you</p>
                        <br />
                        <div class="buttons hero-button" style="visibility:hidden;">
                            <button type="button" class="btn btn-lg btn-accent button_slide slide_right">Start Discovering</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- End Hero -->

<!-- About -->
<section class="pt-8">
    <div class="container">
        <div class="row mb-6 justify-content-center">
            <div class="col-md-7">
                <div class="row">
                    <h2 data-aos="zoom-in" data-aos-duration="1000">What is <span class="text-accent">HobbySwipe</span>?</h2>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome to HobbySwipe – your personal, AI-powered guide to discovering exciting and new hobbies. HobbySwipe pairs you with hobbies via a few simple questions and smart AI. Swipe right to save interesting hobbies, left to pass, and as you swipe, our AI fine-tunes your hobby recommendations for a continually improving, personalized experience.
                    </p>

                </div>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                        <div class="about-info-horizontal">
                            <div class="about-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"><span class="text-accent">Personalized</span> Discovery</h4>
                                <p class="description">Tell us a little about yourself and let our AI-powered discovery tool tailor hobby suggestions just for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                        <div class="about-info-horizontal">
                            <div class="about-icon">
                                <i class="fa-solid fa-hand-pointer"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"><span class="text-accent">Swipe</span>, Don't Scroll</h4>
                                <p>Replace long lists with our engaging swipe interface. Every swipe refines your hobby recommendations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                        <div class="about-info-horizontal">
                            <div class="about-icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Learn with <span class="text-accent">Rich Resources</span></h4>
                                <p>Each hobby comes with guides, videos, and user reviews - arming you with all you need to dive in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                        <div class="about-info-horizontal">
                            <div class="about-icon">
                                <i class="fa-solid fa-earth-americas"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Explore <span class="text-accent">On-the-Go</span></h4>
                                <p>With our mobile-friendly design, you can discover hobbies anytime, anywhere.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="1000">
                        <button type="button" class="btn btn-lg btn-secondary button_slide slide_right">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto">
                <div class="iphone-container" data-aos="fade-left" data-aos-duration="1000">
                    <img src="~/img/home/iphone.png">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->

<!-- How It Works -->
<section class="py-8 darker">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-7 text-center">
                <h2 data-aos="zoom-in" data-aos-duration="1000"><span class="text-accent">How</span> Does It Work?</h2>
            </div>
            <div class="col-12 d-flex justify-content-center mb-4">
                <div id="timeline_ctnr">
                    <!--first section-->
                    <div class="row align-items-center how-it-works">
                        <div class="col-2 text-center bottom">
                            <div class="circle">1</div>
                        </div>
                        <div class="col-6" data-aos="fade-right">
                            <h5>Discover</h5>
                            <p>Start by telling us a bit about yourself. This might include your current interests, past hobbies, and how much free time you have. Our AI-powered tool will ensure that every user gets personalized hobby suggestions.</p>
                        </div>
                    </div>
                    <!--path between 1-2-->
                    <div class="row timeline">
                        <div class="col-2">
                            <div class="corner top-right"></div>
                        </div>
                        <div class="col-8">
                            <hr />
                        </div>
                        <div class="col-2">
                            <div class="corner left-bottom"></div>
                        </div>
                    </div>
                    <!--second section-->
                    <div class="row align-items-center justify-content-end how-it-works">
                        <div class="col-6 text-right" data-aos="fade-left">
                            <h5>Match</h5>
                            <p>Once you hit submit, you will be matched with perfect hobbies tailored just for you. Our smart algorithm learns from your choices to recommend hobbies that are more likely to suit your preferences.</p>
                        </div>
                        <div class="col-2 text-center full-right">
                            <div class="circle">2</div>
                        </div>
                    </div>
                    <!--path between 2-3-->
                    <div class="row timeline">
                        <div class="col-2">
                            <div class="corner right-bottom"></div>
                        </div>
                        <div class="col-8">
                            <hr />
                        </div>
                        <div class="col-2">
                            <div class="corner top-left"></div>
                        </div>
                    </div>
                    <!--third section-->
                    <div class="row align-items-center how-it-works">
                        <div class="col-2 text-center full-left">
                            <div class="circle">3</div>
                        </div>
                        <div class="col-6" data-aos="fade-right">
                            <h5>Swipe</h5>
                            <p>You decide what you like or dislike by swiping right or left, refining the matching process and making it more personalized over time. Once you've swiped right on a hobby, you'll get access to a wealth of information. This includes tutorial videos, beginner's guides, and user reviews to help you get started.</p>
                        </div>
                    </div>
                    <!--path between 3-4-->
                    <div class="row timeline">
                        <div class="col-2">
                            <div class="corner top-right"></div>
                        </div>
                        <div class="col-8">
                            <hr />
                        </div>
                        <div class="col-2">
                            <div class="corner left-bottom"></div>
                        </div>
                    </div>
                    <!--fourth section-->
                    <div class="row align-items-center justify-content-end how-it-works">
                        <div class="col-6 text-right" data-aos="fade-left">
                            <h5>Explore</h5>
                            <p>After a match, users can dive deeper into their new hobbies, learn more about them, and even find communities of like-minded hobbyists. You'll get access to a wealth of information. This includes tutorial videos, beginner's guides, and user reviews to help you get started.</p>
                        </div>
                        <div class="col-2 text-center top-right">
                            <div class="circle">4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How It Works -->

<!-- Featured Hobbies -->
<section class="py-8">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Featured hobbies</h2>
            </div>
        </div>
        <div class="row">
            <div class="glide glide-featured glide--ltr glide--carousel glide--swipeable">
                <div data-glide-el="track" class="glide__track">
                    <ul class="glide__slides py-4">
                        <li class="glide__slide">
                            <div class="glide__container">
                                <a href="javascript:;">
                                    <div class="card card-background">
                                        <div class="full-background" style="background-image: url('../img/hero-bg/guitar.jpg')" loading="lazy"></div>
                                        <div class="card-body pt-xl-4 pt-lg-4 pt-md-4 pt-sm-9 pt-7">
                                            <h4 class="text-white">Guitar</h4>
                                            <p class="text-white text-sm">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                                            <span class="text-white icon-move-right">
                                                Read more
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glide__container">
                                <a href="javascript:;">
                                    <div class="card card-background">
                                        <div class="full-background" style="background-image: url('../img/hero-bg/surfing.jpg')" loading="lazy"></div>
                                        <div class="card-body pt-xl-4 pt-lg-4 pt-md-4 pt-sm-9 pt-7">
                                            <h4 class="text-white">Surfing</h4>
                                            <p class="text-white text-sm">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                                            <span class="text-white icon-move-right">
                                                Read more
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glide__container">
                                <a href="javascript:;">
                                    <div class="card card-background">
                                        <div class="full-background" style="background-image: url('../img/hero-bg/painting.jpg')" loading="lazy"></div>
                                        <div class="card-body pt-xl-4 pt-lg-4 pt-md-4 pt-sm-9 pt-7">
                                            <h4 class="text-white">Painting</h4>
                                            <p class="text-white text-sm">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                                            <span class="text-white icon-move-right">
                                                Read more
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&lt;</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&gt;</button>
                </div>
                <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">

                    <button class="slider__bullet glide__bullet" data-glide-dir="=0"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=1"></button>

                    <button class="slider__bullet glide__bullet glide__bullet--active" data-glide-dir="=2"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=3"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=4"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=5"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=6"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=7"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=8"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=9"></button>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Hobbies -->

<!-- Testimonials -->
<section class="py-8 darker">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white">#WhyHobbySwipe</h2>
                <p>Do you have a HobbySwipe success story you’d like us to feature in our blog or social media?</p>
            </div>
        </div>
        <div class="row">
            <div class="glide glide-testimonials glide--ltr glide--carousel glide--swipeable">
                <div data-glide-el="track" class="glide__track">
                    <ul class="glide__slides py-4" style="transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 3727.5px; transform: translate3d(-1150px, 0px, 0px);">
                        <li class="glide__slide">
                            <div class="glide__container">
                                <a href="javascript:;">
                                    <div class="card card-background">
                                        <div class="full-background" style="background-image: url('../img/hero-bg/guitar.jpg')" loading="lazy"></div>
                                        <div class="card-body pt-xl-4 pt-lg-4 pt-md-4 pt-sm-9 pt-7">
                                            <h4 class="text-white">Guitar</h4>
                                            <p class="text-white text-sm">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                                            <span class="text-white icon-move-right">
                                                Read more
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glide__container">
                                <a href="javascript:;">
                                    <div class="card card-background">
                                        <div class="full-background" style="background-image: url('../img/hero-bg/surfing.jpg')" loading="lazy"></div>
                                        <div class="card-body pt-xl-4 pt-lg-4 pt-md-4 pt-sm-9 pt-7">
                                            <h4 class="text-white">Surfing</h4>
                                            <p class="text-white text-sm">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                                            <span class="text-white icon-move-right">
                                                Read more
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glide__container">
                                <a href="javascript:;">
                                    <div class="card card-background">
                                        <div class="full-background" style="background-image: url('../img/hero-bg/painting.jpg')" loading="lazy"></div>
                                        <div class="card-body pt-xl-4 pt-lg-4 pt-md-4 pt-sm-9 pt-7">
                                            <h4 class="text-white">Painting</h4>
                                            <p class="text-white text-sm">Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
                                            <span class="text-white icon-move-right">
                                                Read more
                                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&lt;</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&gt;</button>
                </div>
                <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">

                    <button class="slider__bullet glide__bullet" data-glide-dir="=0"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=1"></button>

                    <button class="slider__bullet glide__bullet glide__bullet--active" data-glide-dir="=2"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=3"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=4"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=5"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=6"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=7"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=8"></button>

                    <button class="slider__bullet glide__bullet" data-glide-dir="=9"></button>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script type="text/javascript" src="~/lib/glide/dist/glide.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="~/lib/material-kit-pro/dist/js/plugins/typedjs.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
}


